.env
!.env.development
data/
*.db
*.db-shm
*.db-wal

tmp
*.log

node_modules
pkg/mod
dist
dev-dist

test-results/
playwright-report/

/control-plane/pkg/
/control-plane/claworc
/control-plane/control-plane

ssh_key*
/Auto Run Docs/
